.grid-layout{
  height: 100vh;
  display: grid;
  grid-template-areas:  'cabecera cabecera'
                        'menu menu'
                        'contenido lateral'
                        'footer footer';
  grid-template-rows: 20% 10% auto 10%;
  grid-template-columns: 80% auto;
}

.caja{
  background-color: blue;
  text-align: center;
}
.c1{
  grid-area: cabecera;
  background-color: green;
}
.c2{
  grid-area: menu;
  background-color: red;
}
.c3{
  grid-area: contenido;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: yellow;
}
.c4{
  grid-area: lateral;
  background-color: orange;
}
.c5{
  grid-area: footer;
  background-color: black;
}
