.grid-layout{
  height: 100vh;
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-areas:  'cabecera cabecera'
                        'menu menu'
                        'contenido lateral'
                        'footer footer';
  grid-template-rows: 10% 10% auto 10%;
  grid-template-columns: 70% auto;
}

.caja{
  background-color: #08aeff;
  text-align: center;
}
.c1{
  grid-area: cabecera;
  background-color: #08d7ff;
}
.c2{
  grid-area: menu;
  background-color: #08feff;
}
.c3{
  grid-area: contenido;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #90fff7;
}
.c4{
  grid-area: lateral;
  background-color: #90fff7;
  border-left: 1px solid black;
}
.c5{
  grid-area: footer;
  background-color: #08aeff;
}
