body{
  background-color: rgb(63,68,66);

  color: #fff;
}
.alumno{
  background-color: aqua;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.esMiembro{
  color: red;
  font-size: 12px;
  display: inline;
  margin-left: 10px;
}
p{
  display: inline;
}
a{
  color: black;
}
a:active{
  color: black;
}

